In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv(r"data/titles.csv", index_col=None)
titles.head()

                                  title  year
0                  Piano Piano Bacaksiz  1991
1                             Abu Dahab  1954
2                   Piccadilly Incident  1946
3                         Party Monster  2003
4  Uuno Turhapuro herra Helsingin herra  1991

In [5]:
titles.consolidate?

In [7]:
type(titles)

pandas.core.frame.DataFrame

In [9]:
type(titles['year'])

pandas.core.series.Series

In [11]:
titles.dtypes

title    object
year      int64
dtype: object

In [12]:
#escape, h, b, d, z, enter

In [14]:
type(titles.columns)

pandas.core.indexes.base.Index

In [15]:
titles.values

array([['Piano Piano Bacaksiz', 1991],
       ['Abu Dahab', 1954],
       ['Piccadilly Incident', 1946],
       ...,
       ['Manwon', 1978],
       ['Fear X', 2003],
       ['Black Snake Moan', 2006]], dtype=object)

In [16]:
t = titles

In [25]:
m = t['title']
m.head()

0                    Piano Piano Bacaksiz
1                               Abu Dahab
2                     Piccadilly Incident
3                           Party Monster
4    Uuno Turhapuro herra Helsingin herra
Name: title, dtype: object

In [26]:
m.index

RangeIndex(start=0, stop=244914, step=1)

In [40]:
titles['decade'] = titles.year // 10 * 10
titles.head()

                                  title  year  decade
0                  Piano Piano Bacaksiz  1991    1990
1                             Abu Dahab  1954    1950
2                   Piccadilly Incident  1946    1940
3                         Party Monster  2003    2000
4  Uuno Turhapuro herra Helsingin herra  1991    1990

In [41]:
t.sort_values(['year','title'])

                                                    title  year  decade
51396                                          Miss Jerry  1894    1890
201564                                 The Startled Lover  1898    1890
2567       Reproduction of the Corbett and Jeffries Fight  1899    1890
67077                                Family Troubles (II)  1900    1900
110528                                     May Day Parade  1900    1900
199604  Pierrot's Problem, or How to Make a Fat Wife O...  1900    1900
104752                              Soldiers of the Cross  1900    1900
27218                            Trouble in Hogan's Alley  1900    1900
231839                                        The Divorce  1903    1900
5716                                    La malia dell'oro  1905    1900
68059                                             Valsons  1905    1900
231914                         Highlights from The Mikado  1906    1900
135129             Impersonation of Nelson-McGovern Fight  1906    1900
61123                                       Lika mot lika  1906    1900
156234                 The Joe Gans-Battling Nelson Fight  1906    1900
181634                        The Story of the Kelly Gang  1906    1900
84072                                               Faust  1907    1900
158878                                           Ju-Jitsu  1907    1900
194576                                 Robbery Under Arms  1907    1900
163604                                           Violante  1907    1900
197539                                             Amleto  1908    1900
39934                                         Don Quijote  1908    1900
117980                          El pastorcito de Torrente  1908    1900
146591                                  Gans-Nelson Fight  1908    1900
130327                                        Os Guaranis  1908    1900
197092                     The Fairylogue and Radio-Plays  1908    1900
153324                                      Andreas Hofer  1909    1900
120869               Assalto alla Banca Popolare di Fiume  1909    1900
175657                                     Excelsior (II)  1909    1900
122427                                Heroes of the Cross  1909    1900
...                                                   ...   ...     ...
75666                                      Curious George  2022    2020
53277                                Echogeddon Unleashed  2022    2020
106897          Fantastic Beasts and Where to Find Them 4  2022    2020
19367                Infinite Payback 2: Our Darkest Hour  2022    2020
143347                            Listen. Serve. Destroy.  2022    2020
54012                        Nothing Is Going to Hurt You  2022    2020
94008                                        Pat & Norman  2022    2020
156908                                    Power Rangers 6  2022    2020
138276                                 Priestess of Egypt  2022    2020
177125                 The Dave Lory X Jeff Buckley Story  2022    2020
31957                             The Mahabharata: Part 2  2022    2020
150354        Untitled Illumination Entertainment Project  2022    2020
135874   Untitled Illumination Entertainment Project (II)  2022    2020
168887                            Will & Liz: Chapter Two  2022    2020
56806                            You fucked the wrong Guy  2022    2020
28289                                                Zuck  2022    2020
107134                                          2 Seconds  2023    2020
77108                                             Dag III  2023    2020
188829                                   Downfall Warfare  2023    2020
182397                                   Roughneck Riders  2023    2020
13636                           The Zero Century: Harlock  2023    2020
36939                                            Avatar 4  2024    2020
36582                                     Despicable Me 4  2024    2020
143099          Fantastic Beasts and Where to Find Them 5  2024    2020
48280                                       The Dark Room  2024    2020
229220                                  The Dreams I Have  2024    2020
206196                                       War in Black  2024    2020
93316                                            Avatar 5  2025    2020
182134                           The Zero Century: Maetel  2026    2020
145824                                          100 Years  2115    2110

[244914 rows x 3 columns]