In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open(r"style-table.css").read() + open(r"style-notebook.css").read()
HTML('<style>{}</style>'.format(css))

In [9]:
titles = pd.DataFrame.from_csv(r"I:\Everyone\aaron jiang\test_file1.txt", sep="|", index_col=None)
titles.head(5)

  name    id   work
0   DB      1     IT
1   JK      2    Biz
2   AA      3     IT
3   BB      4    Biz
4   CC      5     IT

In [ ]:
titles = pd.DataFrame.from_csv(r"I:\Everyone\aaron jiang\Equifax - 201802 to 201804.txt", sep="|", index_col=None)
titles.head(10)